<div class="mt-3 w-100 d-flex flex-row">
  <mat-form-field class="w-75">   
    <mat-label>Search</mat-label>
    <input matInput type="search" (keyup)="emitSearchCocktails(searchTerm)" aria-label="Text input with segmented dropdown button" [(ngModel)]="searchTerm">
  </mat-form-field>
  <mat-form-field class="w-25">
    <mat-select placeholder="Filter by" (selectionChange)="emitSelectedFilter($event)">
      <mat-option *ngFor="let option of optionsList" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


