mat-toolbar {
    position: fixed;
    height: 65px;
    text-decoration: none;
    z-index: 999;
}

mat-menu {
    z-index: 99999;
}

button {
    outline: none;
}

.logo {
    margin: 0 4px 3px 0;
    height: 35px;
    vertical-align: middle;
}

.spacer {
    flex:1 1 auto;
}

@media screen and (min-width: 700.1px) {
    #burgerMenu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #largeNav {
        display: none;
    }

    #burgerMenu {        
        display: block;
    }
}