<mat-toolbar class="mat-elevation-z4" color="primary" role="heading" > 
    <button id="homeButton"  mat-button routerLink="/home">
      <img class="logo" src="../../assets/header_logo.png">
    </button> 
  <mat-nav-list class="my-auto" id="largeNav">      
      <button  [hidden]="!authService.isAuthenticated() || !authService.hasRoleAdmin()" mat-button [matMenuTriggerFor]="adminMenu">
        Admin
      </button>
        <mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </button>
          <button mat-menu-item routerLink="/reports">
            <mat-icon>report</mat-icon>
            <span>Reports</span>
          </button>
        </mat-menu>
      <button  [hidden]="!authService.isAuthenticated()" mat-button [matMenuTriggerFor]="cocktailMenu">
        My Cocktails
        <mat-menu #cocktailMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/favorites">
            <mat-icon>favorite</mat-icon>
            <span>Favorites</span>
          </button>
          <button mat-menu-item routerLink="/myrecipes">
            <mat-icon>view_list</mat-icon>
            <span>My Recipes</span>
          </button>
        </mat-menu>
      </button>
      <button *ngIf="authService?.isAuthenticated() && authService?.getCurrentClientUser()?.blocked === false" mat-button routerLink="/create">
        Bartender
      </button>
      </mat-nav-list>

      <!-- SPACER -->
      <span class="spacer"></span>

      <mat-nav-list id="largeNav">
      <button mat-button [hidden]="authService.isAuthenticated()" routerLink="/signup">Sign Up</button>
      <button mat-button *ngIf="!authService.isAuthenticated()" routerLink="/login">
        Login
      </button>
      <button mat-icon-button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="notificationMenu">
        <mat-icon aria-label="notification button link">{{ "notifications" }}</mat-icon>
      </button>
      
      <mat-menu #notificationMenu="matMenu" [overlapTrigger]="false">
        <cocktail-notification [notification]="notification" *ngFor="let notification of (notifications$ | async)"></cocktail-notification>
        <button mat-menu-item *ngIf="(notifications$ | async)?.length === 0">
          No notifications
        </button>   
      </mat-menu>           
          
      <button mat-button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="loggedUserMenu">
        <mat-icon aria-label="User button link">person</mat-icon>{{ authService.getUsername() }}
      </button>  
      
      <mat-menu #loggedUserMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="navigateToUserProfile()">
          Settings
        </button>
        <button mat-menu-item (click)="authService?.logout()" routerLink="/home">
          Logout
        </button>
      </mat-menu>       
  </mat-nav-list>  
  
  <!-- BURGER MENU -->
  <button id="burgerMenu" mat-button [matMenuTriggerFor]="burgerMenu"><mat-icon>menu</mat-icon></button>
  <mat-menu #burgerMenu="matMenu" [overlapTrigger]="false">
    <button *ngIf="authService.isAuthenticated() && authService.hasRoleAdmin()" mat-menu-item [matMenuTriggerFor]="adminMenu">Admin</button>
    <button *ngIf="authService.isAuthenticated()" mat-menu-item [matMenuTriggerFor]="cocktailMenu">My Cocktails</button>  
    <button [hidden]="authService?.getCurrentClientUser()?.blocked" *ngIf="authService?.isAuthenticated()" routerLink="/create" mat-menu-item>Bartender</button>
    <button *ngIf="!authService.isAuthenticated()" mat-menu-item routerLink="/signup">Sign Up</button>
    <button *ngIf="!authService.isAuthenticated()" mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="notificationMenu">
        <mat-icon aria-label="notification button link">{{ "notifications" }}</mat-icon>
        Notifications
      </button>
    <button *ngIf="authService.isAuthenticated()" mat-menu-item [matMenuTriggerFor]="loggedUserMenu">
        <mat-icon aria-label="User button link">person</mat-icon>{{ authService.getUsername() }}
    </button>
  </mat-menu>

  <!-- ADMIN MENU -->
  <!-- <mat-menu #adminMenu="matMenu">
    <button mat-menu-item>Dashboard</button>
    <button mat-menu-item>Reports</button>
  </mat-menu> -->

  <!-- COCKTAIL MENU -->
  <!-- <mat-menu #cocktailMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>Favorites</button>
    <button mat-menu-item>My Recipes</button>
  </mat-menu> -->
  
</mat-toolbar>

<!--<nav class="navbar navbar-expand-lg navbar-dark ocr-header-bg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Online Cocktail Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <button mat-button color="accent" [matMenuTriggerFor]="menu">
              Admin
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
              </button>
              <button mat-menu-item routerLink="/reports">
                <mat-icon>report</mat-icon>
                <span>Reports</span>
              </button>
            </mat-menu>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <button mat-button color="primary" [matMenuTriggerFor]="usermenu">
              MyCocktails 
            </button>
            <mat-menu #usermenu="matMenu">
                <button mat-menu-item routerLink="/favorites">
                  <mat-icon>favorite</mat-icon>
                  <span>Favorites</span>
                </button>
                <button mat-menu-item routerLink="/myrecipes">
                  <mat-icon>view_list</mat-icon>
                  <span>My Recipes</span>
                </button>
              </mat-menu>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/create">Bartender</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              {{ authService.getUsername() }}
            </a>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="navigateToUserProfile()">Settings</a>
              <a class="dropdown-item" (click)="authService.logout()" routerLink="/home">Logout</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav> -->
