#comment {
    width: 75%;
}

.sans-subtitle {
    font-family: 'Oswald', 'Impact', sans-serif;
    font-size: 0.7em;
}

div.divider {
    position: relative;
    font-family: 'Oswald', 'Impact', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding: 0;
    display: block;
    margin: 10px auto 0px auto;
    line-height: 2em;
    width: 95%;
}
div.divider span {
    padding: 0px 10px;
    background: #FFF; 
    position: relative;
    font-weight: initial;
}

div.divider:before {
 content: "";
background: #000;
display: block;
position: absolute;
height: 2px;
width: 100%;
top: 50%;
}