<form  (ngSubmit)="submitComment(f)" #f="ngForm">
  <div class="container">
    <div class="row">
      <div class="divider">
        <span class="sans-subtitle">Comments</span>
      </div>
    </div> 
    <div class="row">
      <div class="col">
      <mat-form-field class="ml-3" id="comment">
        <textarea matInput (keydown.enter)="submitComment(f);false" placeholder="Enter you comment" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"  id="comment" name="comment" ngModel required #comment="ngModel"></textarea>
        <mat-error [hidden]="!authService.isAuthenticated()" *ngIf="error?.comment || (comment.invalid && comment.touched)">{{"Please enter your comment"}}</mat-error>
        <mat-error  *ngIf="!authService.isAuthenticated()">You must be logged in</mat-error>
     </mat-form-field>
    </div>
    </div>   
    <div class="row">
        <button class="ml-3" [disabled]="f.invalid" mat-button for="comment" type="submit">Add comment</button>
    </div>
  </div>
</form>
<cocktail-comment-list (updateComments)="onUpdateComments()" [comment]="comment" *ngFor="let comment of (comments$ | async); let i=index"></cocktail-comment-list>