<mat-card class=""> 
  <mat-card-header>
    <p >Posted by  <button (click)="onUserClicked(comment.appUser.id)" class="btn btn-link">{{comment.appUser.username }}</button> on <span>{{ comment.commentPostDate | date:'dd-MM-yyyy HH:mm' }}</span></p>
    <span class="example-spacer"></span>
      <button  mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="deleteComment(comment.id)" mat-menu-item *ngIf="authService.isAuthenticated() && comment.appUser.id === authService.getCurrentClientUser().id">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button (click)="reportComment(comment)" mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Report</span>
          </button>
        </mat-menu>
  </mat-card-header>
  <mat-card-content>
      {{comment.commentText}}
  </mat-card-content>
</mat-card>