<div class="w3-card-4 w3-white w3-round">
    <div class="w3-display-container w3-text-white w3-black w3-round">
      <img src="https://www.thecocktaildb.com/images/media/drink/uxywyw1468877224.jpg" alt="Lights" style="width:100%">
      <div class="w3-xlarge w3-display-bottomleft w3-round w3-padding bg-black-opacity"  style="width:100%">
         Margarita
      </div>
    </div>
    <div class="">
        <div class="w-50px display-inline">
            <img src="https://www.thecocktaildb.com/images/media/drink/qyyvtu1468878544.jpg" style="width: 100%;">
          </div>
          <div class="w-50px display-inline">
            <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
          </div>
          <div class="w-50px display-inline">
            <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
          </div>
          <div class="w-50px display-inline">
              <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
            </div>
            <div class="w-50px display-inline">
                <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
              </div>
              <div class="w-50px display-inline">
                  <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
                </div>
                <div class="w-50px display-inline">
                    <img src="https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg" style="width: 100%;">
                  </div>
    </div>
  </div>
