<div style="min-height: calc(100vh - 46px)">
<div class="container">
  <div class="row margin">
    <div class="col"> 
        <mat-accordion class="py-5 example-headers-align" multi="true">
            <mat-expansion-panel *ngFor="let report of (reports$ | async); let i=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <button mat-icon-button disabled>
                        <mat-icon [color]="report.resolved ? '': 'warn'">report</mat-icon>
                    </button>
                </mat-panel-title>
                <mat-panel-description>
                    Reported user: {{ report.reportedUsername }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list dense>
                  <mat-list-item>User: {{report.reportedUserId !== null ? report.reportedUsername : 'User deleted!!!' }} </mat-list-item>
                  <mat-list-item>Comment: {{report.reportedCommentId !== null? report.reportedCommentText : "Comment deleted!!!" }} </mat-list-item>
                  <mat-list-item><a style="color:dodgerblue; text-decoration: underline;" (click)="goToCocktailDetailPage(report.cocktailId)"> Go to cocktail page </a></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <button mat-button (click)="blockUser(report.reportedUserId)" *ngIf="report.reportedUserId !== null">BLOCK USER</button> 
                    <button mat-button (click)="deleteComment(report.reportedCommentId)" *ngIf="report.reportedCommentId !== null">DELETE COMMENT</button>
                  </mat-list-item>
                 </mat-list>
              <mat-action-row>
                  <button mat-button (click)="resolveReport(report)">{{ report.resolved ? 'UNRESOLVE': 'RESOLVE' }}</button>
                  <button mat-button (click)="deleteReport(report.id)">DELETE REPORT</button>
                </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-grid-list *ngIf="(reports$ | async)?.length === 0" cols="1">
              <mat-grid-tile>
                <h3>All reports are resolved</h3>
              </mat-grid-tile>
            </mat-grid-list>
    </div>
  </div>
</div>
</div>
