/* #container {
    position: relative;
    top: 50px;
    /* margin-bottom: 495px; */
/* }  */

.icon {
    
    color: #48426e ;

    text-align: center;
  }

.input-width-100 {
    width: 100%;
}

.margin {
    padding-top: 130px;
}

.example-header-image {
    background-image: url('../../assets/temp_logo.png');
    background-size: cover;
  }

  .mat-card-footer {
      padding: 0 24px 0 24px;
  }

  .mat-card-actions {
    padding: 0 0 0 16px;
  }