<div style="min-height: calc(100vh - 46px)">
<form  (ngSubmit)="onLogin(f)" #f="ngForm">
      <!-- material -->
      <div class="margin">
        <mat-card class=" mx-auto " [class.mat-elevation-z8]="true" style="max-width: 400px;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Log in</mat-card-title>
              <mat-card-subtitle>and Start mixin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="input-width-100">
                    <input type="text"  matInput placeholder="Username" id="username" name="username" ngModel required #username="ngModel">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="error?.username || (username.invalid && username.touched)">{{"Please enter your username!"}}</mat-error>
                  </mat-form-field>
                <mat-form-field class="input-width-100">
                    <input matInput type="password" placeholder="Password" id="password" name="password" ngModel required #password="ngModel">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="error?.password || (password.invalid && password.touched)">{{"Please enter your password!"}}</mat-error>
                  </mat-form-field>
                  <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LfNTGkUAAAAADRFlesWsaK1cu8SX14MVL4tQV3c"></re-captcha> FIX -->
            </mat-card-content>
            <mat-card-actions>
                <span [attr.title]='f.invalid ? "Please provide all required information!" : null '>
              <button color="primary" mat-raised-button type="submit" [disabled]="f.invalid">SIGN IN</button> <!--  || (captchaConfirmed === false) -->
                <mat-error *ngIf="error">{{"Wrong Username or Password"}}</mat-error>
              </span>
            </mat-card-actions>
            <mat-card-footer>
                <hr>
                <div class="mb-3">  
                  <a href="http://localhost:4200/#/login/forgotten"  onclick="$('loginbox').hide()">Forgot username or password?</a>
                </div>
                <div class="mb-3">Don't have an account?
                  <a href="http://localhost:4200/#/signup" onclick="$('loginbox').hide()">Sign Up Here!</a>
                </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </form>
    </div>
