

/* .bg-img:before {
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(29,0,198,0.57) 70%,rgba(244,0,142,1) 100%); /* Chrome10-25,Safari5.1-6*/
  /* }    */
  .main-title {}
  .center .main-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bg-img {
    background-image: -webkit-linear-gradient(top, rgba(48,63,159,0.59) 0%, rgba(48,63,159,0.78) 50%, rgba(197,64,137,0.91) 86%, rgba(255,64,129,1) 100%), url("../../assets/bar-cocktails-fruits.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

h4.divider:before {
    content: "";
   background: #000;
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   top: 50%;
   }
   
   .margin {
       padding-top: 80px;
   }
   
   .homeText {
       text-transform: uppercase;
   }
   
   .sans {
       font-family: 'Oswald', 'Impact', sans-serif;
       text-transform: uppercase
   }
   
   h4.divider {
       position: relative;
       font-family: 'Oswald', 'Impact', sans-serif;
       text-transform: uppercase;
       font-size: 1.2em;
       text-align: center;
       padding: 0;
       display: block;
       margin: 10px auto 0px auto;
       line-height: 2em;
       width: 95%;
   }
   h4.divider span {
       padding: 0px 10px;
       background: #FFF; 
       position: relative;
       font-weight: initial;
   }
   
   .content-center {
       padding: 0px 10px;
       text-align: center;
   }
   
   .paragraph {
       /* font-family: 'Oswald', sans-serif; */
       font-size: 1.1em;
       text-align: justify;
   }
   
   #welcomeMessage {
       padding-top: 0px;
   }
   
   .jumbotron {
       align-self: center;
   }
   