<div class="card text-center shadow-sm border-0" (click)="emitClicked(ingredient)">
    <img class="card-img-top" [src]="ingredient.strThumb" alt="ingredient">
    <div class="card-body">
      {{ ingredient.strIngredient }}
    </div>
  </div>
