.bg-test {
    background-color: lightgray;
}

.margin {
  padding-top: 80px;
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    width:100%;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    width:100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    min-width: 700px;
  }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}