<div style="min-height: calc(100vh - 46px)"> 
<div  class="container"> 
  <div  class="row margin">
    <div class="col-md-6">
        <mat-grid-list  [class.mat-elevation-z2]="true"  cols="1" rowHeight="200px" class="mt-5">
            <mat-grid-tile class="">
                <mat-grid-tile-header>Users statistics</mat-grid-tile-header>
             <div class="w3-center">
               <h6>Total</h6>
               <h2>{{ usersStatistic?.numberOfAllUsers }}</h2>
             </div>
             <div class="mx-5 w3-center">
                <h6>Active</h6>
                <h2>{{ usersStatistic?.numberOfAllActiveUsers }}</h2>
            </div>
            <div class="w3-center">
                <h6>Blocked</h6>
                <h2>{{ usersStatistic?.numberOfAllBlockedUsers }}</h2>
            </div>
              
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="col-md-6">
        <mat-grid-list [class.mat-elevation-z2]="true" cols="1" rowHeight="200px" class="mt-5">
            <mat-grid-tile class="">
                <mat-grid-tile-header>User Cocktails</mat-grid-tile-header>
             <div class="w3-center">
               <h6>Total</h6>
               <h2>{{ cocktailsStatistic?.numberOfCocktails }}</h2>
             </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="col">
      <div style="min-width: 300px; overflow: auto;" class="my-3 mat-elevation-z8">
        <div class="example-container">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Users">
              </mat-form-field>
            </div>
            <!-- table -->
            <mat-table #table [dataSource]="dataSource"  matSort>
               <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                  <!-- delete user -->
                  <button mat-icon-button (click)="openDeleteUserDialog()" color="accent" [disabled]="selection.selected.length > 0 ? false : true">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
              </ng-container>
          
              <!-- Username Column -->
              <ng-container matColumnDef="username" >
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Username </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
              </ng-container>
          
              <!-- Password Column -->
              <!-- <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.password}} </mat-cell>
              </ng-container> -->
          
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
              </ng-container>

                 <!-- Status Column -->
                 <ng-container matColumnDef="blocked">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let user"><mat-slide-toggle (change)="onStatusChange($event, user)" [checked]="!user.blocked">{{ !user.blocked? "active" : "blocked" }}</mat-slide-toggle></mat-cell>
                  </ng-container>
                    <!-- Block until Column -->
                 <ng-container matColumnDef="blockedUntil">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header> Blocked Until </mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <mat-form-field>
                            <input disabled [min]="minDate" matInput [matDatepicker]="picker3" [value]="user.blockedUntil" (dateChange)="blockedUntilChanged(user, $event)">  
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="!user.blocked"  touchUi="true" #picker3></mat-datepicker>
                          </mat-form-field>
                    </mat-cell>
                  </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
</div>
</div>
</div>
</div>
