.matInput {
    width: 100%;
}

.margin {
    padding-top: 80px;
}

.ingredientAmountMeasure {
    width: 50%;
}

td {
    width: 100%;
}

button {
    outline: none;
}

.modal {
    overflow: hidden;
    align-content: center;
}

#cardThumb {
    width: 200px;
    height: 200px;    
}

h4.divider:before {
    content: "";
   background: #000;
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   top: 50%;
   }
   
   .sans {
       font-family: 'Oswald', 'Impact', sans-serif;
   }
   
   h4.divider {
       position: relative;
       font-family: 'Oswald', 'Impact', sans-serif;
       text-transform: uppercase;
       font-size: 1.2em;
       text-align: center;
       padding: 0;
       display: block;
       margin: 10px auto 0px auto;
       line-height: 2em;
       width: 95%;
   }
   h4.divider span {
       padding: 0px 10px;
       background: #FFF; 
       position: relative;
       font-weight: initial;
   }

  