<div style="min-height: calc(100vh - 46px)">
<div class="container">
  <div class="row margin">
      <div class="col-lg-12 ">
          <div class="mt-3 w-75 d-flex flex-row pt-3 px-3" [class.mat-elevation-z2]="true">
              <mat-form-field class="matInput">
                  <mat-label for="ingredientName">Search by ingredient</mat-label>
                  <input matInput matTooltip="Search by ingredient" matTooltipPosition="above" (keyup.enter)="searchCocktails(ingredientNameForCocktails)"  id="ingredientNameForCocktails" type="text" [(ngModel)]="ingredientNameForCocktails" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="searchCocktailsByIngredients" />
                  <mat-error *ngIf="(!isIngredientNameValid() || isIngredientNameWhitespace())">Is it a secret?</mat-error>

                </mat-form-field>
                <button mat-icon-button (click)="searchCocktails(ingredientNameForCocktails)">
                    <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                </button>
            </div>
          
          <div class="scrolling-wrapper">
            <div class="c-display-inline mr-3 my-3"  *ngFor="let cocktail of cocktails" style="width:200px;">
               <cocktail-random-card [randomCocktail]="cocktail" (detailsCocktail)="openDialog($event)"></cocktail-random-card>
            </div>
          </div>
          <form>
            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                  <mat-form-field appearance="standard" class="matInput">
                    <mat-label>Enter image URL</mat-label>
                    <input matInput type="url" matTooltip="How does it look like? Provide valid image URL or face the consequences! (ugly default image)" matTooltipPosition="above" aria-describedby="cocktailImage"
                     [(value)]="url" [(ngModel)]="cocktailScreenshotUrl" [ngModelOptions]="{standalone: true}" pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <img #img (error)="img.src='../assets/image_placeholder.png'" src="{{cocktailScreenshotUrl}}" alt="cocktailImage" *ngIf="cocktailScreenshotUrl && (cocktailScreenshotUrl !== '../assets/image_placeholder.png')" width="100px">
                </div>
                <div class="form-group col-md-6">
                  <mat-form-field appearance="standard" class="matInput">
                    <mat-label for="cocktailName">Cocktail name</mat-label>
                    <input matInput required matTooltip="What's your poison?" matTooltipPosition="above"  type="text" aria-describedby="cocktailName" [(ngModel)]="cocktailName" [ngModelOptions]="{standalone: true}"
                    #name="ngModel" [ngClass] = "{ 'is-invalid': error?.name || (name.invalid && name.touched) }">
                    <mat-error *ngIf="name.invalid">Give your cocktail a name</mat-error>
                  </mat-form-field>  
                  <mat-slide-toggle (mouseover)="tooltip.show()" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="visibilityControlType === 'PUBLIC' ? 'Everyone can see it.' : 'Only registered users can see it.' " triggers="click" (change)="onStatusChange($event)" [checked]="visibilityControlType==='PUBLIC' ? true : false" >
                    {{visibilityControlType === 'PUBLIC'? 'Public' : 'Restricted'}}
                  </mat-slide-toggle> 
                </div>
              <div class="form-group col-md-6"></div>
              <div class="form-group col-md-4">
                <mat-form-field class="matInput">                  
                  <mat-select required placeholder="Category" matTooltipPosition="above" matTooltip="What kind of drink is that?" [(value)]="selectedCategory" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
                  #category="ngModel" [ngClass] = "{ 'is-invalid': error?.category || (category.invalid && category.touched) }">                    
                    <mat-option *ngFor="let option of categories" [value]="option"> {{ option }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="category.invalid">It surely belongs somewhere</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="matInput">
                  <mat-select required placeholder="Type" matTooltip="Is it alcoholic?" matTooltipPosition="above" [(value)]="selectedType" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"
                  #type="ngModel" [ngClass] = "{ 'is-invalid': error?.type || (type.invalid && type.touched) }">
                    <mat-option *ngFor="let option of alchocolicTypes" [value]="option"> {{ option }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="type.invalid">It must have a type</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="matInput">
                  <mat-select required placeholder="Glass" matTooltip="What kind of glass do you use for it?" matTooltipPosition="above" [(value)]="selectedGlass" [(ngModel)]="selectedGlass" [ngModelOptions]="{standalone: true}"
                  #glass="ngModel" [ngClass] = "{ 'is-invalid': error?.glass || (glass.invalid && glass.touched) }">
                    <mat-option *ngFor="let option of glasses" [value]="option"> {{ option }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="glass.invalid">There must be a glass</mat-error>
              </mat-form-field>
              </div>
              <div class="form-group col-md-8">
                <mat-form-field class="matInput">
                  <textarea matInput required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" matTooltip="How is it made?" aria-describedby="cocktailInstruction" maxlength="550" placeholder="Instructions" rows="4" 
                  [(ngModel)]="cocktailInstruction" [ngModelOptions]="{standalone: true}" #instructions="ngModel" [ngClass] = "{ 'is-invalid': error?.instructions || (instructions.invalid && instructions.touched) }"></textarea>
                  <mat-error *ngIf="instructions.invalid">Share your mixing secrets</mat-error>
                </mat-form-field>
              </div>
            </div>
              <div class="form-row">
              <div class="form-inline col-md-5">
                <mat-form-field class="matInput">
                  <mat-label for="ingredientName">Ingredient</mat-label>
                  <input matInput matTooltip="What is your cocktail made of?" matTooltipPosition="above"  id="ingredientName" type="text" [(ngModel)]="ingredientName" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search" />
                  <mat-error *ngIf="(!isIngredientNameValid() || isIngredientNameWhitespace())">Is it a secret?</mat-error>
                </mat-form-field>
              </div>
              <div class="form-inline col-3 mx-1">
                <mat-form-field class="ingredientAmountMeasure">
                  <mat-label  for="ingredientAmount">Amount</mat-label>
                  <input matInput matTooltip="How much of it?" matTooltipPosition="above"  type="number" min="0" step="0.1" aria-describedby="ingredientAmount" placeholder="Enter Amount" [(ngModel)]="ingredientAmount" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field class="ingredientAmountMeasure">
                    <mat-label for="ingredientMeasure">Measure</mat-label>
                    <input matInput matTooltip="What's the unit? cl, dl, oz, tbspoon, inch, mm?" matTooltipPosition="above"  type="search" aria-describedby="ingredientMeasure" placeholder="Enter measure e.g. L, dcl, teaspoon"  [(ngModel)]="ingredientMeasure" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>                  
              </div>
              <div class="form-inline col-2"  >
                  <span [matTooltip]="(!isIngredientNameValid() || isIngredientNameWhitespace()) ? 'That ingredient must have some name!' : 'Add ingredient'" matTooltipPosition="below">
                  <button mat-icon-button matTooltip="Add ingredient" matTooltipPosition="below" [disabled]="!isIngredientNameValid() || isIngredientNameWhitespace()" (click)="addIngredient()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </span>
              </div>
              <div class="input-group mb-3 col-9 " >
                  <mat-chip-list class="ml-3">
                    <mat-chip class="mx-1 mt-1" *ngFor="let ingredient of ingredients; let i = index" [selectable]="selectable" [removable]="removable" (remove)="deleteIngredient(i)">
                      {{ingredient.representation}}
                      <mat-icon matChipRemove *ngIf="removable" matTooltip="Remove" matTooltipPosition="above"> cancel </mat-icon>
                    </mat-chip>
                  </mat-chip-list>
              </div>
            </div>
            <span [matTooltip]="(name.invalid || category.invalid || type.invalid || glass.invalid || instructions.invalid || ingredients.length < 1) ? 'Fill the form!' : 'Save cocktail'" matTooltipPosition="above">
              <button mat-raised-button  (click)="saveCocktail()" color="primary" [disabled]="name.invalid || category.invalid
              || type.invalid || glass.invalid || instructions.invalid || ingredients.length < 1 || authService.isAuthenticated() === false" >
                Save
              </button>  
            </span>
            <span [matTooltip]="'Clear the form'" matTooltipPosition="above">
                <button mat-button (click)="clearForm()">
                    Clear
                  </button>
            </span>
            <br>
            <mat-hint *ngIf="authService.isAuthenticated() === false">You must be logged in to create a cocktail</mat-hint>
          </form>
          <br>
       </div>
  </div>
</div>
</div>
