.sans{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.6em;
}

.margin {
    padding-top: 130px;
}

.all-caps {
    text-transform: uppercase;
}

.cocktailName {
    margin-top: -30px;
}

h1.divider {
    position: relative;
    font-family: 'Oswald', 'Impact', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding: 0;
    display: block;
    margin: 10px auto 0px auto;
    line-height: 2em;
    width: 95%;
}
h1.divider span {
    padding: 0px 10px;
    background: #FFF; 
    position: relative;
    font-weight: initial;
}

h1.divider:before {
 content: "";
background: #000;
display: block;
position: absolute;
height: 2px;
width: 100%;
top: 50%;
}
