<div style="min-height: calc(100vh - 46px)">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="margin">
        <div class="cocktailName">
          <h1 class="divider">
            <span class="sans-title">My Recipes</span>
          </h1>  
        </div>  
      </div>
    </div>
    <div class="mb-3 col-lg-3 col-md-6 col-12"  *ngFor="let cocktail of (userCocktails$ | async); let i=index">
        <cocktail-list [cocktail]="cocktail" (deletedCocktail)="deletedCocktail()" (detailsCocktail)="goToCocktailDetails($event)"></cocktail-list>
    </div>
  </div>
</div>
</div>
