.icon {
    
  color: #48426e ;

  text-align: center;
}

.input-width-100 {
  width: 100%;
}

.mat-card-footer {
    padding: 0 24px 0 24px;
}

.mat-card-actions {
  padding: 0 0 0 16px;
}

.margin {
  padding-top: 130px;
}

.checkIcon {
  color: green;
}
