<div style="min-height: calc(100vh - 46px)">
<form (ngSubmit)="updateUser(f)"  #f="ngForm">
  <div class="margin">
  <mat-card class="mt-5 mx-auto" [class.mat-elevation-z8]="true" style="max-width: 400px;">
      <mat-card-header>
        <mat-card-title>User profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field class="input-width-100">
              <input type="text"  matInput placeholder="Username" id="username" #username1="ngModel" [(ngModel)]="username" required  [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="username1.invalid">Please enter your username</mat-error>
            </mat-form-field>
            <mat-form-field class="input-width-100">
              <input matInput type="password" placeholder="New Password" matTooltip="Password must contain at least one number and one uppercase and lowercase letter, at least one special character and at least 8 or more characters"  id="password" [required]="error?.password || (password.invalid && password.touched && (password.value.length !== null && (password.value.length > 0)))"  name="password"  pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[`~!@#$%^&+=]).*$" ngModel #password="ngModel">
              <mat-icon class="checkIcon" matSuffix [hidden]="password.value === null || password.value === ''" *ngIf="password.valid">done</mat-icon>
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="error?.password || (password.invalid && password.touched)">Enter your new password</mat-error>
            </mat-form-field>
            <mat-form-field class="input-width-100">
                <input matInput type="password" id="confirmPassword" placeholder="Confirm New Password" [required]="error?.confirmPassword || (password.value.length !== null && (password.value.length > 0))" name="confirmPassword" appConfirmEqualValidator="password" ngModel #confirmPassword="ngModel">
                <mat-icon class="checkIcon" matSuffix [hidden]="confirmPassword.value === null || confirmPassword.value === '' || password.invalid || confirmPassword.errors?.notEqual">done</mat-icon>
                <mat-icon matSuffix>lock</mat-icon>
                <!-- <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">{{"Please confirm your password!"}}</mat-error> -->
                <mat-error *ngIf="confirmPassword.invalid || (confirmPassword.dirty || confirmPassword.touched) || confirmPassword.errors?.notEqual">Passwords do not match</mat-error>
              </mat-form-field>
              <mat-form-field class="input-width-100">
                  <input matInput type="email" id="email" #email1="ngModel" placeholder="Email" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email1.invalid">"Please provide valid email address"</mat-error>
              </mat-form-field>
              <mat-checkbox [(ngModel)]="emailNotification"  [ngModelOptions]="{standalone: true}">Recive email notification</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
          <span [attr.title]='f.invalid ? "Please provide all required information!" : null '>
              <button type="submit" color="primary" mat-raised-button [disabled]="username1.invalid || email1.invalid || password.invalid || confirmPassword.invalid">UPDATE</button>
            </span>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
</div>
