 <mat-card class=""> 
      <mat-card-content>
      <img mat-card-image (click)="emitDetailsCocktail(cocktail.id)" [src]="cocktail.cocktailScreenshotUrl" >
        <span class=" mat-body-2">{{cocktail.cocktailName}}</span>
        <span class="mb-3">
          <ng-template #t let-fill="fill">
             <span class="star" [class.full]="fill === 100">
               <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
             </span>
         </ng-template>
         <div class="">
             <!-- <b>{{currentRate | number : '1.1-1'}}</b> -->
         <ngb-rating class="starsGlobal" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
         </div>
         </span>
      </mat-card-content>
      <mat-card-actions >
          <button (click)="deleteCocktail(cocktail.id)" mat-icon-button *ngIf="(authService.isAuthenticated() && cocktail.appUser !== null) && cocktail.appUser.id === authService.getCurrentClientUser().id">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
      </mat-card-actions>
    </mat-card>
  