.mat-card {
    width: 100%;
     
     min-height: 350px;
     max-height: 500px;        
}

.sans {
     font-family: 'Oswald', 'Impact', sans-serif;
 }

/*div:hover a {
    display: block;
}

div a {
    display: none;
}*/
    
.divider {
     position: relative;
     font-family: 'Oswald', 'Impact', sans-serif;
     text-transform: uppercase;
     font-size: 1.2em;
     text-align: center;
     padding: 0;
     display: block;
     margin: 10px auto 0px auto;
     line-height: 2em;
     width: 95%;
 }

.divider span {
     padding: 0px 10px;
     background: #FFF; 
     position: relative;
     font-weight: initial;
 }

 .star {
     position: relative;
     display: inline-block;
     font-size: 3rem;
     color: #d3d3d3;
   }
   .full {
     color: red;
   }
   .half {
     position: absolute;
     display: inline-block;
     overflow: hidden;
     color: red;
   }
 
   .starsGlobal {
       transform: scale(0.7);
       margin-left: -30px;
       margin-top: -15px;
       outline: none;
   }

   .inline{
       display: inline-block;
   }



