.sans{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.6em;
}

.all-caps {
    text-transform: uppercase;
}

.cocktailName {
    margin-top: -30px;
}

.tittle {
    font-family: 'Abril Fatface', 'Georgia', serif;
    font-weight: 300;
    font-size: 2.4em;
    letter-spacing: 0;
    
}



mat-grid-tile p, img {
    cursor: pointer;
}

fb-like {
    top: -5px;
}

.margin {
    padding-top: 130px;
  }

.paragraph {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.center {
    display: block;
    /* margin-top: -15px; */
    margin-left: 15%;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.right {
    margin-right: 75px;
}


h1.divider:before {
    content: "";
   background: #000;
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   top: 50%;
   }
   
   .sans-title {
       font-family: 'Oswald', 'Impact', sans-serif;
   }

   .sans-subtitle {
    font-family: 'Oswald', 'Impact', sans-serif;
    font-size: 0.7em;
}
   
   h1.divider {
       position: relative;
       font-family: 'Oswald', 'Impact', sans-serif;
       text-transform: uppercase;
       font-size: 2em;
       text-align: center;
       padding: 0;
       display: block;
       margin: 10px auto 0px auto;
       line-height: 2em;
       width: 95%;
   }
   h1.divider span {
       padding: 0px 10px;
       background: #FFF; 
       position: relative;
       font-weight: initial;
   }

   h1.divider:before {
    content: "";
   background: #000;
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   top: 50%;
   }

   .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }

  .starsGlobal {
      transform: scale(0.7);
      margin-left: -30px;
      margin-top: -15px;
      outline: none;
  }

  div.divider {
    position: relative;
    font-family: 'Oswald', 'Impact', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding: 0;
    display: block;
    margin: 10px auto 0px auto;
    line-height: 2em;
    width: 95%;
}
div.divider span {
    padding: 0px 10px;
    background: #FFF; 
    position: relative;
    font-weight: initial;
}

div.divider:before {
 content: "";
background: #000;
display: block;
position: absolute;
height: 2px;
width: 100%;
top: 50%;
}

.ingr {
    
    display: inline;
}
