<div style="min-height: calc(100vh - 46px)">
<div class="container">
  <div class="row margin">
    <div class="col">
      <div class="p-3 mb-3 shadow">
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
        <div style="float: right" *ngIf="authService.isAuthenticated()">
          <mat-hint>{{isTried ? "You tried this cocktail" : "Not tried yet" }}</mat-hint>
          <button mat-icon-button (click)="flagClicked()">
            <mat-icon aria-label="Example icon-button with a heart icon" [color]="isTried ? 'primary':''">flag</mat-icon>   
          </button>
        </div>
       
        <!-- <b>{{currentRate | number : '1.1-1'}}</b> -->
        <ngb-rating class="starsGlobal" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

        <div class="row">
          <div class="col">
        <div class="cocktailName">
        <h1 class="divider">
         <span class="sans-title"> {{currentCocktail?.cocktailName}}</span>
       </h1>
       </div>
      </div>
       <div class="row container text-right">
        <div class="col x-auto my-auto">
         <img [src]="recieved ? currentCocktail?.cocktailScreenshotUrl : '../assets/image_placeholder.png'" style="width: 100%">
         <div class="row">
           <div class="col left d-flex">
              <cocktail-star-raiting [rating]="rating" [matTooltip]="!authService.isAuthenticated() ? 'You must be logged in to rate a cocktail' : null"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></cocktail-star-raiting>
           </div>
            <!-- SECURITY ERROR -->
            <div class="col d-inline">
            <fb-like url={{currentCocktail?.cocktailScreenshotUrl}}></fb-like>
            <div class="mt-1">
                <tweet url={{currentCocktail?.cocktailScreenshotUrl}}></tweet>
             </div>          
            </div>
         </div>
         
       </div>   
       
        <div class="col">
          <div class="right my-auto" >
            <mat-grid-list cols="2" *ngFor="let ingredient of currentCocktailIngredients" rowHeight="100px" >
              <mat-grid-tile rows="4" cols="2" >
                <p matTooltip="Click here for more information" matTooltipPosition="above" (click)="openDialogIngredient(ingredient.ingredientName)" class="paragraph ">{{ ingredient?.ingredientName}} {{ingredient?.ingredientMeasure}} </p>
              </mat-grid-tile>
              <mat-grid-tile cols="1" >
                  <img matTooltip="Click here for more information" matTooltipPosition="above" (click)="openDialogIngredient(ingredient.ingredientName)" data-toggle="modal" data-target="#exampleModal" [src]="ingredient?.ingredientImageUrl" width="50px">
              </mat-grid-tile>
            </mat-grid-list>
           
          </div>
        </div>
      </div>      
      </div>
      <div class="row ">
          <div class="col">
            <div class="divider">
              <span class="sans-subtitle">Instructions</span>            
            </div>
            <p class="paragraph mx-auto">{{currentCocktail?.instructions}}</p>
            </div>
          </div>
        
        
        <cocktail-comments [currentCocktailId]="cocktailId"></cocktail-comments>
       </div> 
       
       
      </div>
    </div>
  </div>
</div>



