/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100% !important;
  }

  ::-webkit-scrollbar {
    display: none;
    }

.ocr-header-bg {
    background-color:#242539;
}

.ocr-home-bg {
    background-image: linear-gradient(to bottom, #242539, #2c2c46, #353353, #3e3b60, #48426e);
}

.input-bg {
    background-color: #48426e;
}

.homepage-font {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.bg-black-opacity {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
.bg-black-opacity-tb {
    	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 2%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 2%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 2%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
.button-round-border {
    background-color: rgba(0,0,0,0);
    border:2px solid #FF1744;
    color:#FF1744;
}

.text-color-gradient {
    background: rgba(230,0,46,1);
    background: -moz-linear-gradient(left, rgba(230,0,46,1) 0%, rgba(255,0,174,1) 41%, rgba(235,149,0,1) 81%, rgba(235,149,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,0,46,1)), color-stop(41%, rgba(255,0,174,1)), color-stop(81%, rgba(235,149,0,1)), color-stop(100%, rgba(235,149,0,1)));
    background: -webkit-linear-gradient(left, rgba(230,0,46,1) 0%, rgba(255,0,174,1) 41%, rgba(235,149,0,1) 81%, rgba(235,149,0,1) 100%);
    background: -o-linear-gradient(left, rgba(230,0,46,1) 0%, rgba(255,0,174,1) 41%, rgba(235,149,0,1) 81%, rgba(235,149,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(230,0,46,1) 0%, rgba(255,0,174,1) 41%, rgba(235,149,0,1) 81%, rgba(235,149,0,1) 100%);
    background: linear-gradient(to right, rgba(230,0,46,1) 0%, rgba(255,0,174,1) 41%, rgba(235,149,0,1) 81%, rgba(235,149,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6002e', endColorstr='#eb9500', GradientType=1 );
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.text-color-redpink {
    color: #FF1744;
}


.display-inline {
    display: inline-block;
}

.w-50px {
    width: 50px;
    margin: 0px;
    padding: 0px;
}

.border-radius-full {
    border-radius:50%;
}
.c-display-inline {
    flex: 0 0 auto;
}
.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* -webkit-overflow-scrolling: touch; */
}
/* ::-webkit-scrollbar {
    display: none;
    } */






