.icon {
    
  color: #48426e ;

  text-align: center;
}

.margin {
padding-top: 130px;
}

.input-width-100 {
  width: 100%;
}

.example-header-image {
  background-image: url('../../assets/temp_logo.png');
  background-size: cover;
}

.mat-card-footer {
    padding: 0 24px 0 24px;
}

.mat-card-actions {
  padding: 0 0 0 16px;
}

.checkIcon {
  color: green;
}


