<div style="min-height: calc(100vh - 46px)">
<form (ngSubmit)="onSignUp(f)" #f="ngForm">
  <div class="margin mb-5">
            <mat-card class="mx-auto" [class.mat-elevation-z8]="true" style="max-width: 400px;">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Sign up</mat-card-title>
                  <mat-card-subtitle>and Start mixin</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="input-width-100">
                        <input type="text"  matInput placeholder="Username" id="username" name="username" ngModel required #username="ngModel">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="error?.username || (username.invalid && username.touched)">Enter your username</mat-error>
                      </mat-form-field>
                    <mat-form-field class="input-width-100">
                        <input matInput type="password" placeholder="Password" id="password" name="password" matTooltip="Password must contain at least one number and one uppercase and lowercase letter, at least one special character and at least 8 or more characters" required pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[`~!@#$%^&+=]).*$" ngModel #password="ngModel" [ngClass] = "{'is-invalid': error?.password || (password.invalid && password.touched) }">
                        <mat-icon class="checkIcon" matSuffix [hidden]="password.value === null || password.value === ''" *ngIf="password.valid">done</mat-icon>
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="error?.password || (password.invalid && password.touched)">Enter your password</mat-error>
                      </mat-form-field>
                      <mat-form-field class="input-width-100">
                          <input matInput type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" appConfirmEqualValidator="password" required ngModel #confirmPassword="ngModel" [ngClass] = "{'is-invalid': error?.confirmPassword || (confirmPassword.invalid && confirmPassword.touched) }">
                          <mat-icon class="checkIcon" matSuffix [hidden]="confirmPassword.value === null || confirmPassword.value === '' || password.invalid || confirmPassword.errors?.notEqual">done</mat-icon>
                          <mat-icon matSuffix>lock</mat-icon>
                          <!-- <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">{{"Please confirm your password!"}}</mat-error> -->
                          <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.notEqual">Passwords do not match</mat-error>
                        </mat-form-field>
                        <mat-form-field class="input-width-100">
                            <input matInput type="email" id="email" name="email" placeholder="Email" required ngModel email #email="ngModel" [ngClass] = "{ 'is-invalid': error?.email || (email.invalid && email.touched) }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="email.invalid">Please provide valid email</mat-error>
                        </mat-form-field>
                      <re-captcha (resolved)="resolved($event)" siteKey="6LfNTGkUAAAAADRFlesWsaK1cu8SX14MVL4tQV3c"></re-captcha>
                </mat-card-content>
                <mat-card-actions>
                    <span [attr.title]='f.invalid ? "Please provide all required information!" : null '>
                        <button color="primary" mat-raised-button type="submit" [disabled]="f.invalid || (captchaConfirmed === false)">SIGN UP</button>
                      </span>
                </mat-card-actions>
                <mat-card-footer>
                    <hr>
                    <div class="my-sm-3">
                        Already have an account?
                        <a href="http://localhost:4200/#/login" onclick="$('loginbox').hide()" >Sign In Here!</a>            
                      </div>
                </mat-card-footer>
              </mat-card>
            </div>
                </form>
                </div>



 
  
    