<button (click)="goToNotificationCocktail(notification.notificationCocktailId)" mat-menu-item>
    {{notification.notificationUsername}}<span>{{ " "+notification.notificationText}}</span><span>{{ " "+notification.notificationCocktailName}}</span>
</button>
