<div style="min-height: calc(100vh - 46px)">
<form  (ngSubmit)="onLogin(f)" #f="ngForm">
  <div class="margin">
    <mat-card class=" mx-auto " [class.mat-elevation-z8]="true" style="max-width: 400px;">
      <mat-card-content>
        <p>To retrieve your password or username, please use the form below. We’ll send you an email with your credentials.</p>
        <mat-form-field class="input-width-100">
          <input type="text"  matInput placeholder="Email" id="email" name="email" ngModel required #email="ngModel" [ngClass] = "{'is-invalid': error?.email || (email.invalid && email.touched) }">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="error?.email || (email.invalid && email.touched)">{{"Please enter your email!"}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <span [attr.title]='f.invalid ? "Please provide valid email!" : null '>
          <button color="primary" mat-raised-button type="submit" [disabled]="f.invalid">SEND</button>
          <mat-error *ngIf="error">{{"Wrong email"}}</mat-error>
        </span>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
</div>
