<div class="w3-card-4 mb-3 w3-round" draggable="true" style="width:100%" (click)="emitDetailsCocktail(randomCocktail.id)">
  <div class="w3-display-container w3-round w3-text-white w3-black" style="width:100%;">
    <img class="media" [src]="randomCocktail.cocktailScreenshotUrl" alt="Lights" style="width:100%" class="w3-round">
    <div class="w3-xlarge w3-display-bottomleft w3-round w3-padding bg-black-opacity"  style="width:100%">
       {{randomCocktail.cocktailName}}
    </div>
  </div>
</div>
